/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
/* fonts */

/* common css or utilities  start*/
body {
  background: #F3F1FF;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  width: 870px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 810px;
  background-color: #FFFFFF;
  margin-top: 36px;
  border-radius: 5px;
  padding: 30px;
}

.section-title h1 {
  color: #562EFF;
  font-weight: 500;
  font-size: 24px;
  margin-top: 3px;
}

hr {
  border: 1px solid #D1D1D1;
  margin: 30px 0;
}

/* common css or utilities end*/

/* header section style start */
header {
  width: 100%;
  height: 94px;
  background: #562EFF;
  display: flex;
  justify-content: center;
}

nav {
  width: 870px;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.logo {
  width: 40.42px;
  height: 51px;
  margin-right: 16px;
}

.logo-title {
  color: #FFFFFF;
}

.nav-menu-items {
  display: flex;
  align-items: center;
}

.menu-item {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  margin-left: 36px;
}

.user {
  width: 51px;
  height: 51px;
}

/* header section style end */

/* Top players Section style start */
.top-players-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}

.top-players {
  width: 100%;
}

.player {
  display: flex;
  align-items: center;
}

.player-photo img {
  width: 56px;
  height: 56px;
  margin-right: 18px;
}

.player-name h2 {
  font-weight: 500;
  font-size: 18px;
  color: #000;
}

/* Top players Section style end */
/* Top Blogs Section style Start */
.top-glogs-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 13px;
  column-gap: 20px;
}

.blog {
  display: flex;
  align-items: center;
}

.blog-thumbnail {
  margin-right: 16px;
}

.blog-thumbnail img {
  width: 177px;
  height: 117px;
}

.blog-dis {
  font-weight: 500;
  font-size: 20px;
}

.blog-author {
  color: #9F9F9F;
  font-weight: 400;
  font-size: 16px;
}

.blog-author span {
  color: #562EFF;
  font-weight: 400;
  font-size: 16px;
}

/* Top Blogs Section style end */


/* Lates Courses style start */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 23.60px;
}

.item {
  padding: 11px;
  box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.course-banner img {
  width: 224px;
  height: 104px;
}

.course-title p {
  font-weight: 500;
  font-size: 19px;
  color: #1E1E1E;
  margin: 0;
  margin-top: 19px;
}

.course-author a {
  font-weight: 400;
  font-size: 14.6913px;
  text-decoration: none;
  color: #ED6B4F;
  margin-top: 7px;
  margin-bottom: 13px;
  display: inline-block;
}

.course-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gold-color {
  color: #FFC014;
  font-size: 12.39px;
}

.silver-color {
  color: #AEAEAE;
  font-size: 12.39px;
}

.star-icons b {
  color: #A2A2A2;
  font-weight: normal;
}

.duration {
  background: #FFE4E8;
  width: 88.83px;
  height: 29.38px;
  border-radius: 14.6913px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
  font-size: 14.6913px;
  color: #FF4A60;
  padding: 0px 3px;
}

.fa-clock {
  font-size: 14.6913px;
  color: #FF4A60;
}

/* Lates Courses style end */
/* Media queries Start*/

/* Smaller devices */
@media only screen and (max-width: 576px){
  header {
    display: none;
  }  
  .container {
    width: 100%;
    padding: 30PX 0;
  }
  .section-title {
    text-align: center;
  }
  .courses,
  .top-glogs-grid-container,
  .top-players-grid-container {
    grid-template-columns: repeat(1,1fr);
  }
  .player {
    flex-direction: column;
  }
  .player-photo img {
    margin-right: 0;
  }
  .blog {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20%;
  }
  .courses {
    column-gap: 0;
    row-gap: 23.60px;
  }
  .item {
    margin: 0 10px;
  }
}
/* Medium Devices*/
@media only screen and (min-width: 577px) and (max-width: 991px){
  
  /* .courses,
  .top-glogs-grid-container, */
  .container {
    width: 90%;
    padding: 30PX 0;
  }
  .section-title {
    text-align: center;
  }
  .top-players-grid-container {
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
  }
  .player {
    justify-content: center;
  }
  .player:nth-child(1),
  .player:nth-child(3),
  .player:nth-child(5) {
    flex-direction: row-reverse;
    justify-content: end;
  }
  .player:nth-child(2),
  .player:nth-child(4),
  .player:nth-child(6) {
    justify-self: start;
  }
  .player:nth-child(1) .player-photo img,
  .player:nth-child(3) .player-photo img,
  .player:nth-child(5) .player-photo img {
    margin: 0;
    margin-left: 18px;
  }
  .courses,
  .top-glogs-grid-container {
    grid-template-columns: repeat(1,1fr);
  }
  .blog {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20%;
  }
  .item {
    margin: 0 10%;
  }
  header {
    display: none;
  }
}
/* Media queries end*/